<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BridgeCoreSOAPServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://200.59.130.99:19380/bridge/services/bridgeCoreSOAP"
                binding="basicHttpBinding" bindingConfiguration="BridgeCoreSOAPServiceSoapBinding"
                contract="ServiceReference1.BridgeCoreSOAPService" name="BridgeCoreSOAPServicePort" />
        </client>
    </system.serviceModel>
</configuration>