<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Paths -->
    <add key="procFile" value="ReplicaStock.exe" />
    <add key="procPath" value="C:\STAR\Napse\ReplicaStock\PUB\TEST\" />
    <!-- Detalle Servicio -->
    <add key="name" value="ReplicaStock (Test)" />
    <add key="desc" value="Replica Stock de SAP a Napse" />
    <!-- Frecuencia Timer (milisegundos) "60000" es 1 minuto/"3600000" es 1 hora -->
    <add key="frec" value="120000" />
    <!-- Programar Días -->
    <add key="Monday" value="1" />
    <add key="Tuesday" value="1" />
    <add key="Wednesday" value="1" />
    <add key="Thursday" value="1" />
    <add key="Friday" value="1" />
    <add key="Saturday" value="1" />
    <add key="Sunday" value="1" />
    <!-- Programar Horario -->
    <add key="desde" value="07:00:00" />
    <add key="hasta" value="23:45:00" />
	<!-- Programar dias Stand-By-->
	<add key="dia_hasta" value="0" />
	<add key="dia_desde" value="0" />
    <!-- Correo -->
    <add key="mailFrom" value="envios.startechnology@gmail.com" />
    <add key="mailTo" value="martin.lebas@startechnology.com.ar"/>
    <add key="mailCC" value="sofia.vitalevi@startechnology.com.ar" />
    <add key="mailPass" value="bhbyeruejslbntcs" />
    <add key="asunto" value="Alerta sobre el servicio: " />
    <add key="cuerpo" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>